<div class="contents">
  <form action="/notes/<%= @note['id'] %>" method="POST" class="form">
    <div class="form_item">
      <label for="title">タイトル</label>
      <input type="text" value="<%= escape_html @note['title'] %>" id="title" name="title" placeholder="タイトルを入力" required>
    </div>
    <div class="form_item">
      <label for="comment">コメント</label>
      <textarea id="comment" name="comment" rows="7" cols="33" placeholder="コメントを入力"><%= escape_html @note['comment'] %></textarea>
    </div>
    <div class="button_items">
      <input type="hidden" name="_method" value="PATCH">
      <input type="submit" value="保存" class="button save">
    </div>
  </form>
</div>
