<div class="contents">
  <ul class="note_list">
    <% @notes.each do |note| %>
    <li>
      <a href="/notes/<%= note['id'] %>"><%= escape_html note['title'] %></a>
    </li>
    <% end %>
  </ul>
</div>
